nav{
    float: right;
}
.sign-up{
    text-align: center;
}
main{
    margin-left: 15%;
    margin-right:15%;
}
header{
    margin:30px 15% 30px 15%;
}
.subheaders{
    margin-bottom:20px;
    margin-top:20px;
}
#copyright{
    color:#808080;
}
h1{
    font-family: 'Oleo Script Swash Caps', cursive;
}
.nav{
    color:#60FFA2; 
}